<!DOCTYPE html>
<% provide(:title, "Profile") %>
<html>
  <div>
    <h1>Profile Info</h1>
    <p>Client Name: <%=@client[:client_name]%></p>
    <p>Client Type: <%=@client[:client_type]%></p>
  </div>
</html>
